scenedetect
ultralytics
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
tqdm
yt-dlp
faster-whisper
transformers
sentencepiece
google-genai
python-dotenv
mediapipe==0.10.14
boto3

fastapi
uvicorn
python-multipart
httpx
Pillow
pyannote.audio>=3.3,<4
